body {
  background-image: url('./img/bg.jpg');
  background-repeat: no-repeat;

  position: absolute;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(245, 247, 250);
  overflow: hidden;
}

.gameList{
  max-height: 250px;
  overflow: auto;
  background-color: rgba(217, 237, 247,0.8);
  font-size: 1.5vw;
  color: #31708f;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: bold;
}
.gameList li{
  height: 40px;
  padding: 30px 0px;

}
footer{
  position:fixed;
  bottom:0px;
  background-color:rgba(0, 0, 0, 0.9) ;
  text-align:center;
  width:100%;
  height:30px;
  padding-top:10px;

}

.loader {
  width:150px;
  margin:auto;
}
.loadingTitle{
  text-align: center;
}
.info{
  width: 90%;
  margin: auto;
  max-height: 250px;
  background-color: rgba(217, 237, 247,0.8);
  color: #31708f;
  margin-top: 10px;
  border-radius: 10px;
}
.info p {
  font-size: 1.5vw;
  font-weight: bold;
}
